@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Dosis';
}

/* Hide the scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  

  .menu-enter {
    transform: translateX(100%);
    opacity: 0;
  }
  .menu-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  }
  .menu-exit {
    transform: translateX(0);
    opacity: 1;
  }
  .menu-exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  }
  